{% extends "layout.html" %}
{% block stylesheets %}
<link href="{{ STATIC_URL }}css/jobs.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="jobs">
    {% for category in categories %}
      <div class="category_{{category.slug}}">
         <div class="category">
            <div class="feed">
               <a href="">Feed</a>
            </div>
         </div>
         <h1>
            <a href="">
            {{ category.name }}
            </a>
         </h1>
        <table class="jobs">
        {% for job in category.active_jobs %}
            <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                <td class="location">{{ job.location }}</td>
                <td class="position"><a href="{% url show_job job.id %}">{{ job.position}}</a></td>
             <td class="company">{{ job.company }}</td>
           </tr>
        {% endfor %}
        </table>
       </div>
    {% endfor %}
</div>
{% endblock %}